/* Set background image and minimum width */
body {
	width: fit-content;
	height:100vh;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
	overflow-y: hidden;
	background: rgb(238,174,202);
	background: radial-gradient(circle, rgba(238,174,202,1) 0%, rgba(148,187,233,1) 100%);
	
}


.textstyle1 {
    font-size: 60px;
    color: #fff;
    font-style: italic;
    letter-spacing: 5px;
}

.textstyle2 {
    font-size: 15px;
    color: #fff;
    font-style: normal;
}
.st1{
	width:150px;
	height:150px;
	background-size:cover;
	margin:5px;
	border-radius:10px;
}
.st2{
	width:150px;
	height:310px;
	background-size:cover;
	margin:5px;
	border-radius:10px;
}
.st3{
	width:450px;
	height:310px;
	background-size:cover;
	margin:5px;
	border-radius:10px;
}

.flexdiv{
	display:flex;
	flex-direction:column;
	flex-wrap: wrap;
    height: 320px;
    
}
.flexdiv1{
	display:flex;
	overflow-x: auto;
    padding-right: 17px;
    box-sizing: content-box;
	margin-top:25vh;
	
}
/* Works on Firefox */
.flexdiv1 {
  scrollbar-width: thin;
  scrollbar-color: #191717;
}

/* Works on Chrome, Edge, and Safari */
.flexdiv1::-webkit-scrollbar {
  height: 5px;
  
}

.flexdiv1::-webkit-scrollbar-track {
  background: #F1EFEF;
}

.flexdiv1::-webkit-scrollbar-thumb {
  background-color: #191717;
}

.zoom {

	box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;

  &:hover {
	  
    width:450px;
	height:310px;
	margin:1px;
    
    background-repeat: no-repeat;
		}
	}


 
